.header__burger-btn {
   display: none;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    right: 0px;
    cursor: pointer;
    background: transparent;
    top: 26px;

    @include tablets {
        display: block;
        position: fixed;
    }
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    left: 5px;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

@include tablets {
    .menu {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

@include tablets {
    .header.open .menu {
        transform: translateX(100%);
    }
}