.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(24px);
    background: #fff;
    height: auto;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;


    @include tablets {
        display: flex;
        flex-direction: row;
    }

    @include phones {
        display: flex;
        flex-direction: row;
    }
}
