.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: auto;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 9px 0;

}
