@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 18px -0.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 18px -0.1111111111rem;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
  line-height: 1.1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .burger {
    position: fixed;
    top: 20px;
    right: 10%;
    height: 25px;
    width: 40px;
    cursor: pointer;
    z-index: 15;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    background: transparent;
  }
  .burger__plank {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger__plank:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .burger__plank:nth-child(3) {
    bottom: 0;
    top: initial;
  }
}

.content {
  background-color: white;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}

.menu__link:hover {
  opacity: 0.7;
}

.overlay .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger--active .burger__plank:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__plank:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__plank:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px) translateX(5px);
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}

.preview {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768px) {
  .preview:before, .preview:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .preview:before, .preview:after {
    display: none;
  }
}
.preview::before {
  content: url(./assets/Rectangle\ 14.png);
  position: absolute;
  bottom: -1.2222222222rem;
  left: 2%;
}
.preview::after {
  content: url(./assets/Rectangle\ 14.png);
  position: absolute;
  bottom: -1.2222222222rem;
  right: 1.1111111111rem;
}

.preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 2.5rem;
  background: url(./assets/beats-headphones.png) right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .preview__container {
    background: none;
  }
}

.preview__main-title {
  font-size: 2.5555555556rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.preview__title-desc {
  margin: 34px 0;
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 10%;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .preview__title-desc {
    padding: 25%;
    margin: -7.1666666667rem 0;
  }
}
@media screen and (max-width: 480px) {
  .preview__title-desc {
    padding: 0 16%;
    margin: 2px 0;
  }
}

.preview__title-section {
  width: 46%;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .preview__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .preview__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url(./assets/beats-headphones.png) center center/contain no-repeat;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .preview__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin: 0 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 35%;
    left: 36%;
    color: #fff;
    height: 100%;
    background: black;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: block;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu__link {
    color: white;
    font-size: 21px;
  }
}

.menu__item {
  margin-right: 2.5rem;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu__item {
    display: none;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
}

.phone-number {
  font-size: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 153px;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.adress {
  font-size: 18px;
  color: #292929;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 7.2777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
}

.btn {
  font-style: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .btn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    margin-top: 0px;
  }
}
.btn--theme--orange {
  background: #fff;
  color: #292929;
}
.btn--theme--orange:hover {
  background: #E01F3D;
  color: #fff;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .section {
    top: 0;
  }
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  line-height: 1.1;
}
@media screen and (max-width: 480px) {
  .section__title {
    padding: 62px 0;
  }
}

.headline {
  text-align: center;
  line-height: 1.1;
  padding: 0 18%;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-top: 378px;
  }
}

.headline__subtitle {
  padding: 0 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.1;
  margin: 24px 0;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url(./assets/delimetr.png);
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
    padding: 0;
  }
}
.benefits__item:before:before:last-child {
  display: none;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.benefit__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 7rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #F2F5F4;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  background: url(./assets/Vector\ 2.png) left 1.8333333333rem top 95% no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
    height: 191vh;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
}

.reviews__text {
  line-height: 1.1;
  margin-bottom: 2rem;
  color: #666666;
}

.reviews__author {
  font-style: 1rem;
  font-weight: bold;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.reviews__subtitle {
  font-weight: bold;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.reviews {
  position: relative;
}
.reviews:before {
  content: "";
  position: absolute;
  width: 16%;
  height: 13.23%;
  right: 0;
}
.reviews:after {
  content: "";
  position: absolute;
  width: 14.36%;
  height: 29.7%;
  left: 0;
}

.reviews__wrap {
  position: relative;
  display: none;
  background-position: right top;
  background-repeat: no-repeat;
  padding: 50px;
  margin-bottom: 16px;
}

.reviews__avatar {
  max-width: 250px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.reviews__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__desc {
  margin-left: 20px;
  max-width: 50%;
}
.reviews__desc h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.reviews__desc p {
  color: black;
  line-height: 1.2;
  margin-bottom: 25px;
  font-size: 16px;
  color: #666666;
}
.reviews__desc h4 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__item {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 3px;
  border: 7px solid transparent;
  -webkit-box-shadow: 0 0 5px #F8FAF9;
          box-shadow: 0 0 5px #F8FAF9;
  cursor: pointer;
}
.reviews__item:last-child {
  margin-right: 0;
}
.reviews__item--active {
  border-color: red;
}

.reviews__link {
  display: block;
  height: 100%;
  width: 100%;
}

.reviews__preview {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__wrap--active {
  background: #F8FAF9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: right top;
  background-repeat: no-repeat;
  padding: 50px;
  margin-bottom: 16px;
}

.section-title--reviews {
  font-size: 48px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delivery-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .delivery-form__form {
    padding: 0 19px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .delivery-form__form {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.delivery-form {
  min-height: 100vh;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
}

.delivery-form__title {
  font-family: Play, sans-serif;
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
}

.delivery-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.7777777778rem;
}

.delivery-form__left {
  width: 25.6666666667rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 1.1111111111rem 80px 1.1111111111rem 80px;
  grid-template-rows: repeat(3, 80px);
  -ms-grid-columns: 106px 1.1111111111rem 106px 1.1111111111rem 106px 1.1111111111rem 106px;
  grid-template-columns: repeat(4, 106px);
  gap: 1.1111111111rem;
}

.delivery-form__left > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.delivery-form__left > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.delivery-form__left > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.delivery-form__left > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.delivery-form__left > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.delivery-form__left > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.delivery-form__left > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.delivery-form__left > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.delivery-form__left > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.delivery-form__left > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.delivery-form__left > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.delivery-form__left > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5555555556rem;
  text-align: left;
}

.text-input span {
  font-family: Play, sans-serif;
  font-size: 0.8888888889rem;
  font-weight: 400;
  color: #fff;
}

.text-input input {
  border-radius: 0.2222222222rem;
  height: 3.2222222222rem;
  padding: 0 0.5555555556rem;
  font-family: Play, sans-serif;
  font-size: 0.8888888889rem;
  font-weight: 400;
  outline: none;
  border: none;
}

.text-input_size_m {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.text-input_size_l {
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

.text-input textarea {
  resize: none;
  width: 25rem;
  height: 8.4444444444rem;
  border-radius: 0.2222222222rem;
}
.text-input textarea:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .text-input textarea {
    margin-right: 0;
  }
}

.delivery-form__title {
  font-size: 2.6666666667rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-section {
  background: #000;
}
@media screen and (max-width: 480px) {
  .order-section {
    height: 138vh;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-section {
  height: 100%;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  padding-top: 19px;
  gap: 9px;
}

.form__btns {
  font-family: Body 2 Regular;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 51px;
}

.btn--red {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5.5555555556rem;
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 5.5555555556rem;
  font-size: 21px;
}

.btn--red:hover {
  background: #CA1B36;
}

.btn-2 {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 0.8888888889rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(./assets/Vector.png) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  background: #FFFFFF;
  border-radius: 50%;
  margin: 0px 5px;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3333333333rem;
  list-style: none;
  margin: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 2.7777777778rem;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url(./assets/map.png) center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (max-width: 480px) {
  .social {
    margin-top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.3888888889rem;
  }
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.0555555556rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.3333333333rem;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8FAF9;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider-section:before, .slider-section:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .slider-section:before, .slider-section:after {
    display: none;
  }
}

.slider-section-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8FAF9;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider-section-red:before, .slider-section-red:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .slider-section-red:before, .slider-section-red:after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .slider-section-red {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider__main-title {
  font-size: 2rem;
  font-weight: bold;
  width: 80%;
}

.slider__title-desc {
  font-weight: 33.3333333333rem;
  font-size: 0.8888888889rem;
  color: #666666;
  width: 22.2222222222rem;
  width: 69%;
  line-height: 1.1;
  margin-right: 2.2222222222rem;
}

.btn--theme--orange {
  font-style: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1.1;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .btn--theme--orange {
    margin-top: 0.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .btn--theme--orange {
    margin-top: 0px;
  }
}
.btn--theme--orange--theme--orange {
  background: #fff;
  color: #292929;
}
.btn--theme--orange--theme--orange:hover {
  background: #E01F3D;
  color: #fff;
}

.slider__subtitle-desc-two {
  font-weight: bold;
  font-size: 18px;
}

.slider__subtitle-desc {
  color: #666666;
  font-size: 16px;
  margin: 15px;
  margin-right: 55px;
  margin-top: 15px;
}

.slider__title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 114%;
  }
  .slider__title-section::before .slider__title-section::after {
    background: url(./assets/galka\ 1.jpg);
  }
}

.subtitle-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subtitle-desc-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subtitle-desc__item {
  margin: 0 2.3333333333rem;
}

.price__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.7777777778rem;
  color: #151515;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-container-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider-container-red {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn--slider {
  border: none;
  background: none;
  cursor: pointer;
}

.data-linked-with {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.overlay__menu {
  color: white;
}

.overlay.menu--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay .menu__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlay .menu__item:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-top: 10px;
}
.overlay .menu__item:last-child {
  margin-bottom: 0;
}
.overlay .menu__item:last-child:after {
  display: none;
}

.overlay .menu__item {
  margin-right: 0;
}

.burger__plank--active {
  background-color: white;
}

.btn--gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray url(./assets/gear\ 1.png) center 50% no-repeat;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 26%;
  margin-right: 168px;
}
@media screen and (max-width: 768px) {
  .btn--gray {
    display: none;
  }
}

.about {
  position: relative;
  opacity: 0;
  border-radius: 26px;
}

.about:hover {
  position: absolute;
  font-size: 16px;
  font-weight: 400px;
  opacity: 1;
  position: relative;
  left: 73%;
  background-color: rgba(226, 226, 226, 0.8);
  top: 29px;
  left: 100px;
  top: 1px;
  border-radius: 26px;
}

.about--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  padding: 5px 0;
  background: rgb(208, 207, 207);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}
@media screen and (max-width: 768px) {
  .accordeon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.accordeon__link {
  text-decoration: none;
}

.accordeon__item {
  margin-bottom: 1.9444444444rem;
}
.accordeon__item .accordeon__item:last-child {
  margin-bottom: 0;
}

.accordeon__item-active .accordeon__item-active__link {
  color: #f9b43b;
}
.accordeon__item-active .accordeon__item-active__link .accordeon__link:before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.accordeon__item-active .accordeon__content {
  height: 100%;
}

.accordeon__link {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 0.7733333333rem;
  margin-bottom: 20px;
}
.accordeon__link:before {
  content: "";
  height: 0;
  width: 0;
  border: 0.5rem solid transparent;
  border-top-color: red;
  border-bottom-width: 0rem;
  margin-right: 0.7222222222rem;
}

.accordeon__content {
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.accordeon__content .accordeon-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordeon__avatar {
  width: 188px;
  height: 253px;
  border: 1px solid transparent;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 1.1111111111rem;
  background-color: white;
}
.accordeon__avatar .accordeon-pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordeon__info {
  color: #666666;
  font-size: 0.7777777778rem;
  font-weight: 700;
}
.accordeon__info .accordeon-position {
  margin-bottom: 0.3888888889rem;
}
.accordeon__info .accordeon-text {
  font-weight: 300;
  line-height: 1.3333333333rem;
}
.accordeon__info .accordeon-text p {
  max-width: 12.2222222222rem;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: black;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 60px;
}

.modal__content {
  margin-bottom: 15px;
  color: black;
}