.map-section {
    background: url(./assets/map.png) center no-repeat;
    width:auto; 
    height:652px;
    background-size: cover;

    @include tablets {
        height:652px;
    }

    @include phones {
        height:482px;
    }
}