
.slider-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F8FAF9;
    position: relative;

    &:before, &:after {
        @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
    }
}

.slider__main-title {
    font-size: rem(36px);
    font-weight: bold;
    width: 80%;
}

.slider__title-desc {
    font-weight: rem(600px);
    font-size: rem(16px);
    color: #666666;
    width: rem(400px);
    width: 69%;
    line-height: 1.1;
    margin-right: rem(40px);

    
}

.btn--theme--orange{
font-style: rem(19px);
font-weight: bold;
padding: rem(18px) rem(35px);
text-transform: uppercase;
border-radius: rem(100px);
line-height: 1.1;
text-decoration: none;

 @include tablets {
    margin-top: rem(10px);
 }

 @include phones {
    margin-top: 0px;
 }

&--theme--orange {
    background: #fff;
    color: #292929;

    &:hover {
        background: #E01F3D;
        color: #fff;
    }
}
}

.slider__subtitle-desc {
    font-weight: bold;
    font-size: 18px;
}

.slider__subtitle-desc {
    color: #666666;
    font-size: 16px;
    margin: 15px;
    margin-right: 55px;
    margin-top: 15px;
    display: flex;
}

.slider__title-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
        display: flex;
        align-content: center;
        height: 114%;
        
        &::before &::after {
            background: url(./assets/galka\ 1.jpg);
        }
    }
}

.subtitle-desc{
    display: flex;
    justify-content: space-around;
}

.subtitle-desc__item {
    margin: 0 rem(42px);
}

.product {
    display: flex;

    @include tablets {
        display: flex;
        flex-direction: column;
    }
}


.btn--slider {
    border: none;
    background: none;
    cursor: pointer;
    top: 162px;
}

.price {
    display: flex;
    align-items: baseline;
}

.price h1 {
    font-family: play;
}

.charging {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    flex-direction: column;
    align-items: center;
}

.two {
    color: #292929;
    font-weight: bold;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@include tablets {
.container--slider img {
    transform: translate(50%, -14%);
    width: 50%;
}
}

.btn-arrow--right {
    transform: translate(-88px, 234px);

    @include tablets {
        transform: translate(-7px, 290px);
    }
}

.btn-arrow--left {
    display: flex;
    flex-direction: row-reverse;
    transform: translateY(-321px)
}