.social {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;


    @include phones {
        margin-top: 0;
        justify-content: flex-start;
        padding: rem(7px);
    }
}

.social__item {
    display: flex;
    gap: rem(1px);
    align-items: center;
}